[Desktop Entry]
Encoding=UTF-8
Name=Yona Core
Comment=Connect to the Yona P2P Network
Comment[de]=Verbinde mit dem Yona peer-to-peer Netzwerk
Comment[fr]=Yona, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Yona, eşten eşe kriptografik sanal para birimi
Exec=yona-qt %u
Terminal=false
Type=Application
Icon=yona128
MimeType=x-scheme-handler/yona;
Categories=Office;Finance;
