policy_module(akila, 1.100.1)

########################################
#
# Declarations
#

type akila_t;
type akila_exec_t;
init_daemon_domain(akila_t, akila_exec_t)

permissive akila_t;

type akila_initrc_exec_t;
init_script_file(akila_initrc_exec_t)

type akila_conf_t;
files_type(akila_conf_t)

type akila_var_lib_t;
files_type(akila_var_lib_t)

type akila_var_run_t;
files_type(akila_var_run_t)

type akila_port_t;
corenet_port(akila_port_t)

########################################
#
# akila local policy
#
allow akila_t self:process { fork };

allow akila_t self:fifo_file rw_fifo_file_perms;
allow akila_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(akila_t, akila_conf_t, akila_conf_t)
manage_files_pattern(akila_t, akila_conf_t, akila_conf_t)

manage_dirs_pattern(akila_t, akila_var_lib_t, akila_var_lib_t)
manage_files_pattern(akila_t, akila_var_lib_t, akila_var_lib_t)
files_var_lib_filetrans(akila_t, akila_var_lib_t, { dir file })

manage_dirs_pattern(akila_t, akila_var_run_t, akila_var_run_t)
manage_files_pattern(akila_t, akila_var_run_t, akila_var_run_t)

sysnet_dns_name_resolve(akila_t)
corenet_all_recvfrom_unlabeled(akila_t)

allow akila_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(akila_t)
corenet_tcp_sendrecv_generic_node(akila_t)
corenet_tcp_sendrecv_all_ports(akila_t)
corenet_tcp_bind_generic_node(akila_t)

gen_require(`
    type akila_port_t;
')
allow akila_t akila_port_t:tcp_socket name_bind;

gen_require(`
    type akila_port_t;
')
allow akila_t akila_port_t:tcp_socket name_connect;

domain_use_interactive_fds(akila_t)

files_read_etc_files(akila_t)

miscfiles_read_localization(akila_t)

sysnet_dns_name_resolve(akila_t)

allow akila_t akila_exec_t:file execute_no_trans;
allow akila_t self:process setsched;
corecmd_exec_ls(akila_t)
corenet_tcp_connect_http_port(akila_t)
dev_read_urand(akila_t)
fs_getattr_xattr_fs(akila_t)
kernel_read_system_state(akila_t)
