
## <summary>policy for akila</summary>


########################################
## <summary>
##	Transition to akila.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`akila_domtrans',`
	gen_require(`
		type akila_t, akila_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, akila_exec_t, akila_t)
')


########################################
## <summary>
##	Execute akila server in the akila domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`akila_initrc_domtrans',`
	gen_require(`
		type akila_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, akila_initrc_exec_t)
')


########################################
## <summary>
##	Search akila lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`akila_search_lib',`
	gen_require(`
		type akila_var_lib_t;
	')

	allow $1 akila_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read akila lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`akila_read_lib_files',`
	gen_require(`
		type akila_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, akila_var_lib_t, akila_var_lib_t)
')

########################################
## <summary>
##	Manage akila lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`akila_manage_lib_files',`
	gen_require(`
		type akila_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, akila_var_lib_t, akila_var_lib_t)
')

########################################
## <summary>
##	Manage akila lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`akila_manage_lib_dirs',`
	gen_require(`
		type akila_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, akila_var_lib_t, akila_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a akila environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`akila_admin',`
	gen_require(`
		type akila_t;
		type akila_initrc_exec_t;
		type akila_var_lib_t;
	')

	allow $1 akila_t:process { ptrace signal_perms };
	ps_process_pattern($1, akila_t)

	akila_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 akila_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, akila_var_lib_t)

')

