
## <summary>policy for paladeum</summary>


########################################
## <summary>
##	Transition to paladeum.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`paladeum_domtrans',`
	gen_require(`
		type paladeum_t, paladeum_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, paladeum_exec_t, paladeum_t)
')


########################################
## <summary>
##	Execute paladeum server in the paladeum domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`paladeum_initrc_domtrans',`
	gen_require(`
		type paladeum_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, paladeum_initrc_exec_t)
')


########################################
## <summary>
##	Search paladeum lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`paladeum_search_lib',`
	gen_require(`
		type paladeum_var_lib_t;
	')

	allow $1 paladeum_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read paladeum lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`paladeum_read_lib_files',`
	gen_require(`
		type paladeum_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, paladeum_var_lib_t, paladeum_var_lib_t)
')

########################################
## <summary>
##	Manage paladeum lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`paladeum_manage_lib_files',`
	gen_require(`
		type paladeum_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, paladeum_var_lib_t, paladeum_var_lib_t)
')

########################################
## <summary>
##	Manage paladeum lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`paladeum_manage_lib_dirs',`
	gen_require(`
		type paladeum_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, paladeum_var_lib_t, paladeum_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a paladeum environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`paladeum_admin',`
	gen_require(`
		type paladeum_t;
		type paladeum_initrc_exec_t;
		type paladeum_var_lib_t;
	')

	allow $1 paladeum_t:process { ptrace signal_perms };
	ps_process_pattern($1, paladeum_t)

	paladeum_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 paladeum_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, paladeum_var_lib_t)

')

