policy_module(yona, 1.100.1)

########################################
#
# Declarations
#

type yona_t;
type yona_exec_t;
init_daemon_domain(yona_t, yona_exec_t)

permissive yona_t;

type yona_initrc_exec_t;
init_script_file(yona_initrc_exec_t)

type yona_conf_t;
files_type(yona_conf_t)

type yona_var_lib_t;
files_type(yona_var_lib_t)

type yona_var_run_t;
files_type(yona_var_run_t)

type yona_port_t;
corenet_port(yona_port_t)

########################################
#
# yona local policy
#
allow yona_t self:process { fork };

allow yona_t self:fifo_file rw_fifo_file_perms;
allow yona_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(yona_t, yona_conf_t, yona_conf_t)
manage_files_pattern(yona_t, yona_conf_t, yona_conf_t)

manage_dirs_pattern(yona_t, yona_var_lib_t, yona_var_lib_t)
manage_files_pattern(yona_t, yona_var_lib_t, yona_var_lib_t)
files_var_lib_filetrans(yona_t, yona_var_lib_t, { dir file })

manage_dirs_pattern(yona_t, yona_var_run_t, yona_var_run_t)
manage_files_pattern(yona_t, yona_var_run_t, yona_var_run_t)

sysnet_dns_name_resolve(yona_t)
corenet_all_recvfrom_unlabeled(yona_t)

allow yona_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(yona_t)
corenet_tcp_sendrecv_generic_node(yona_t)
corenet_tcp_sendrecv_all_ports(yona_t)
corenet_tcp_bind_generic_node(yona_t)

gen_require(`
    type yona_port_t;
')
allow yona_t yona_port_t:tcp_socket name_bind;

gen_require(`
    type yona_port_t;
')
allow yona_t yona_port_t:tcp_socket name_connect;

domain_use_interactive_fds(yona_t)

files_read_etc_files(yona_t)

miscfiles_read_localization(yona_t)

sysnet_dns_name_resolve(yona_t)

allow yona_t yona_exec_t:file execute_no_trans;
allow yona_t self:process setsched;
corecmd_exec_ls(yona_t)
corenet_tcp_connect_http_port(yona_t)
dev_read_urand(yona_t)
fs_getattr_xattr_fs(yona_t)
kernel_read_system_state(yona_t)
