
## <summary>policy for yona</summary>


########################################
## <summary>
##	Transition to yona.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`yona_domtrans',`
	gen_require(`
		type yona_t, yona_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, yona_exec_t, yona_t)
')


########################################
## <summary>
##	Execute yona server in the yona domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`yona_initrc_domtrans',`
	gen_require(`
		type yona_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, yona_initrc_exec_t)
')


########################################
## <summary>
##	Search yona lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`yona_search_lib',`
	gen_require(`
		type yona_var_lib_t;
	')

	allow $1 yona_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read yona lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`yona_read_lib_files',`
	gen_require(`
		type yona_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, yona_var_lib_t, yona_var_lib_t)
')

########################################
## <summary>
##	Manage yona lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`yona_manage_lib_files',`
	gen_require(`
		type yona_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, yona_var_lib_t, yona_var_lib_t)
')

########################################
## <summary>
##	Manage yona lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`yona_manage_lib_dirs',`
	gen_require(`
		type yona_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, yona_var_lib_t, yona_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a yona environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`yona_admin',`
	gen_require(`
		type yona_t;
		type yona_initrc_exec_t;
		type yona_var_lib_t;
	')

	allow $1 yona_t:process { ptrace signal_perms };
	ps_process_pattern($1, yona_t)

	yona_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 yona_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, yona_var_lib_t)

')

